body {	
background-color:#000;
background-repeat: no-repeat;
background-size: 102% 900px;
font-family: Arial, Helvetica, sans-serif;
}
.heading {
text-align: center;
text-decoration: none;
font-size: 45px;
height:100px;
height:65px;
width:100%;
color:white;
}
   
body{
margin:0;
}
.nav{
width:100%;
background-color:#F00;
height:60px;
}
ul{
list-style:none;
padding:0;
margin:0;
position:absolute;
}
ul li{
float:left;
margin-top:10px;
}
ul li a{
width:150px;
color:white;
display:block;
text-decoration:none;
font-size:20px;
text-align:center;
padding:10px;
border-radius:10px;
font-family:Century Gothic;
font-weight:bold;
}
a:hover{
background:#669900;
}
ul li ul{
background:#333;
}
ul li ul li{
float:none;
}
ul li ul{
display:none;
}
ul li:hover ul{
display:block;
}
#but
{
color: white;
font-size: 18px;
margin-left:-14%;
}
.simple-form
{
text-align:center;
margin:100px 400px;
}
#registration
{
width: 100%;
background-color:#051019;
opacity: 0.8;
padding:50px 0px;
color:white;
}
#footer
{
margin-top:3%;
margin-left:-1%;
margin-right:-1%;
margin-bottom:0%;
background: #f00;
text-align: center;
color: #000;
padding: 12px;
}
#butt
{
width: 200px;
padding: 10px;
border-radius: 5px;
outline: 0px;
background-color:#b53;
border: #01010c;
color: aliceblue;
font-size: 18px;
}
#button
{
padding:10px;
border-radius: 5px;
width: 290px;
outline: 0px;
}
#button1
{
padding:10px;
border-radius: 5px;
width: 220px;
outline: 0px;
}
.title
{
position: absolute;
top: 220px;
left:680px;
transform: translate(-50%,-50%);
font-family:Century Gothic;
}
.title h2{
color: #b53;
font-size: 50px;
font-family:Century Gothic;
}
.dettitle
{
position: absolute;
top:40%;
left:34%;
transform: translate(-50%,-50%);
font-family:Century Gothic;
}
.dettitle h2{
color: #0c6;
font-size: 15px;
font-family:Century Gothic;
}